images/flows.json
[{"id":"ad3641be.86ad6","type":"tab","label":"mysmarthome","disabled":false,"info":""},{"id":"2e5a43dd.01031c","type":"mqtt in","z":"ad3641be.86ad6","name":"receive request","topic":"mysmarthome/request/+","qos":"0","datatype":"json","broker":"236615bb.50841a","x":200,"y":500,"wires":[["459bdae3.929484"]]},{"id":"241bdd7a.77d2f2","type":"debug","z":"ad3641be.86ad6","name":"received object","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":640,"y":420,"wires":[]},{"id":"6fcdf2a6.18540c","type":"http request","z":"ad3641be.86ad6","name":"post key","method":"POST","ret":"txt","paytoqs":false,"url":"http://192.168.9.89:1925/1/input/key","tls":"","proxy":"","authType":"","x":300,"y":640,"wires":[["ddbb8c8.5c32a7","f5e10a35.beb5e8"]]},{"id":"ddbb8c8.5c32a7","type":"debug","z":"ad3641be.86ad6","name":"tv response","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":720,"wires":[]},{"id":"c98313ac.c04f9","type":"inject","z":"ad3641be.86ad6","name":"inject example","topic":"mysmarthome/request/00000000-0000-0000-0000-000000000000","payload":"[\"VolumeUp\", \"VolumeDown\"]","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":200,"y":420,"wires":[["459bdae3.929484"]]},{"id":"7cf28d09.081604","type":"debug","z":"ad3641be.86ad6","name":"key json","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1020,"y":420,"wires":[]},{"id":"d4697973.918aa8","type":"function","z":"ad3641be.86ad6","name":"key json","func":"const keyString = msg.payload;\nmsg.payload = { \"key\": keyString };\nreturn msg;","outputs":1,"noerr":0,"x":820,"y":500,"wires":[["7cf28d09.081604","fdaa06fa.201978"]]},{"id":"f5e10a35.beb5e8","type":"join","z":"ad3641be.86ad6","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":490,"y":640,"wires":[["aeefb1ce.18879"]]},{"id":"5ef14182.e8395","type":"debug","z":"ad3641be.86ad6","name":"publishing message","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":960,"y":720,"wires":[]},{"id":"aeefb1ce.18879","type":"function","z":"ad3641be.86ad6","name":"response json","func":"const responseTopic = msg.topic.replace('/request','/response');\nmsg.topic = responseTopic;\n\nlet status = \"OK\";\nif(msg.hasOwnProperty('statusCode')) {\n    statusCode = msg.statusCode;\n    if(!Number.isInteger(statusCode) || statusCode>=300) {\n        status = statusCode;\n    }\n    delete msg.statusCode;\n}\nmsg.payload = { \"status\": status };\n\nreturn msg;\n","outputs":1,"noerr":0,"x":700,"y":640,"wires":[["253ff109.e6516e","5ef14182.e8395"]]},{"id":"253ff109.e6516e","type":"mqtt out","z":"ad3641be.86ad6","name":"publish response","topic":"","qos":"0","retain":"","broker":"236615bb.50841a","x":950,"y":640,"wires":[]},{"id":"b0f46333.33bfc","type":"split","z":"ad3641be.86ad6","name":"split keys","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":620,"y":500,"wires":[["d4697973.918aa8"]]},{"id":"459bdae3.929484","type":"json","z":"ad3641be.86ad6","name":"to object","property":"payload","action":"","pretty":false,"x":420,"y":500,"wires":[["b0f46333.33bfc","241bdd7a.77d2f2"]]},{"id":"fdaa06fa.201978","type":"delay","z":"ad3641be.86ad6","name":"rate limit","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"4","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1020,"y":500,"wires":[["6fcdf2a6.18540c"]]},{"id":"236615bb.50841a","type":"mqtt-broker","z":"","name":"MySmartHome MQTT","broker":"a1r5gapbm9ij1g-ats.iot.eu-west-1.amazonaws.com","port":"8883","tls":"759acd05.68cd74","clientid":"","usetls":true,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"759acd05.68cd74","type":"tls-config","z":"","name":"AWS-RaspberryPi","cert":"/home/owahlen/Development/raspberrypi-iot/1471cfc859-certificate.pem.crt","key":"/home/owahlen/Development/raspberrypi-iot/1471cfc859-private.pem.key","ca":"/home/owahlen/Development/raspberrypi-iot/AmazonRootCA1.pem","certname":"","keyname":"","caname":"","servername":"","verifyservercert":true}]